# common configuration for ALL branches

version: 0.2.0.{build}

pull_requests:
  do_not_increment_build_number: true

os: Visual Studio 2019
image: Visual Studio 2019
skip_branch_with_pr: true

environment:
  AppVeyor: APPVEYOR

init:

- ps: >-
    if ($env:APPVEYOR_REPO_TAG -eq 'true')
    {
      $env:fileVersion = $env:APPVEYOR_REPO_TAG_NAME -replace '(\d+)\.(\d+)\.(\d+)(-.+)?', '$1.$2.$3'
      if ($env:fileVersion -eq $env:APPVEYOR_REPO_TAG_NAME) { $env:fileVersion = $($env:fileVersion + '.0') }
      else { $env:fileVersion = $($env:fileVersion + '.' + $env:APPVEYOR_BUILD_NUMBER) }
      $env:productVersion = $env:APPVEYOR_REPO_TAG_NAME
    }
    else
    {
      $env:fileVersion = $env:APPVEYOR_BUILD_VERSION -replace '(\d+)\.(\d+)\.([^.]+)\.(\d+)', '$1.$2.999.$4'
      $env:productVersion = $env:fileVersion
    }
    
    Update-AppveyorBuild -Version $env:fileVersion
    
    Write-Host $env:fileVersion $env:productVersion
    
    Write-Host $env:APPVEYOR_REPO_TAG $env:APPVEYOR_REPO_TAG_NAME
    

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(productVersion)'
  package_version: '$(productVersion)'
  assembly_version: '$(fileVersion)'
  file_version: '$(fileVersion)'
  informational_version: '$(productVersion)'


# platform: Any CPU
configuration:
- Release
- Release.Signed

before_build:
  - cmd: nuget update -self
  - nuget restore

build:
  parallel: true
  project: NoBox.sln
  verbosity: minimal

test_script:
  - dotnet test tests/ClosedXML.Report.Tests
after_build:
  - cd ClosedXML.Report/bin/%CONFIGURATION%/
  - 7z a ClosedXML.Report_%productVersion%.zip */ClosedXML.Report.dll
  - cd ../../../

artifacts:
- path: ClosedXML.Report/bin/%CONFIGURATION%/*.zip
- path: ClosedXML.Report/bin/%CONFIGURATION%/*/ClosedXML.Report.dll
- path: ClosedXML.Report/bin/%CONFIGURATION%/*.nupkg

nuget:
  project_feed: true
  disable_publish_on_pr: true

deploy:
- provider: GitHub
  artifact: /.*\.(zip|nupkg)/
  auth_token:
    secure: pDyyONympYgPQfMzsAlP01i2i17xji0oFlz5sKVmM6n34/TieVjBjvUjSUFxNQEA
  draft: true
  on:
    APPVEYOR_REPO_TAG: true
- provider: NuGet
  artifact: /.*\.nupkg/
  api_key:
    secure: GZMuY+C0BuVSLsTJ0b2oLNVNXdd8ffaFJapOaUDKlrfOLmrHc0S44AqSE6pjK1yC
  on:
    APPVEYOR_REPO_TAG: true