<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=..\..\..\..\DB\dbdemos.sqlite;Version=3;" providerName="SQLite"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
