<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\DB\dbdemos.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" providerName="Access"/>
    <!--<add name="DefaultConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\..\DB\dbdemos.mdb;Persist Security Info=False;"
      providerName="JetEntityFrameworkProvider"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
